.workoutHeader>.workoutInfo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
}
.workoutHeader>.workoutImage{
    text-align: center;
}
.workoutHeader>.workoutImage>img{
    width:70%
}
.workoutShortDescription{
    font-size: 1.2em;
} 
.workoutReviews>.workoutReviewsContainer{
    margin:50px 0;
}

@media only screen and (max-width:600px) {
    .workoutHeader>.workoutImage>img{
        width:100%;
    }
}