.filterGroupTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hiddeIcon{
    display: none;
}

@media only screen and (max-width:600px){
    .hiddeIcon{
        display: block;
    }
    .hideFilters{
        height:0;
        overflow: hidden;
    }
}