.searchInput{
    margin:auto; 
    position: relative;
}
.searchInput>input{ 
    width: 250px;
    padding:8px 30px;
    border-radius: 20px;  
    border:1px solid grey;
}
.searchInput span{
    position: absolute;
    top:4px;
}
.searchInput>.searchIcon{ 
    left:9px;
    top:7px;
}
.searchInput>.clearIcon{ 
    right:9px;
    top:7px;
    cursor: pointer;
}

